<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<style>

	</style>


<title>Sales System: Stock</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<ul>
		<li><a href="/home">Home</a></li>
		<li><a href="/newPerson">Create Person</a></li>
		<li><a href="/newKnowledge">Create Knowledges</a></li>
		<li><a href="/listKnowledges">List Knowledges</a></li>
		<li><a href="/listPeople">List People</a></li>
	</ul>

</body>
</html>