<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<style>

	</style>


<title>Sales System: Stock</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<ul>
		<li><a href="/home">Home</a></li>
		<li><a href="/newPerson">Create Person</a></li>
		<li><a href="/newKnowledge">Create Knowledges</a></li>
		<li><a href="/listKnowledges">List Knowledges</a></li>
		<li><a href="/listPeople">List People</a></li>
	</ul>



	<form th:action="@{/newPerson}" method= "post">
		<div><label>Nome:<input type="text" name="nome"/></label></div>
		<br/>
		<div><label>Idade: <input type="text" name="idade"/></label></div>
		<br/>
		<div><input type="submit" value="Enviar"/></div>
	</form>
</body>
</html>